form {
    margin-inline: 1%;
    padding-inline: 5%;
    font-size: 3vi;
    h1 {
        text-align: center;
        font-size: 3.5vi;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: var(--yellow);
    }
    label {
        justify-self: end;
        padding: 0.6em;
    }
    fieldset#field {
        display: grid;
        grid-template-columns: 12vi 48vi;
        width: 100%;
        border-color: var(--trim);
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        * {
            margin-block: 0.2em;
        }
        fieldset {
            grid-column: 1 / 2;
            justify-self: start;
            width: 100%;
            border-color: var(--yellow);
            border-radius: 0.8em;
            display: grid;
            grid-template-columns: 1em 65vi;
            
            label {
                justify-self: start;
            }
            input {
                margin: 0;
            }
            textarea {
                grid-column: 1 / 2;
                width: 60vi;
            }
        }
    }
    fieldset#submission {
        display: flex;
        width: 100%;
        justify-content: center;
        border-color: var(--trim);
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
    }
    input {
        border-radius: 0.8em;
    }
    input[type="submit"] {
        background-color: green;
        width: 8em;
    }
    input[type="reset"] {
        background-color: brown;
        width: 5em;
    }
}
@media all and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 4fr 5fr;
    }
    table {
        height: 90%;
    }
    form {
        font-size: 1em;
        h1 {
            font-size: 1.1em;
        }
        * {
            padding-block-end: 0.5em;
        }
        fieldset#field {
            grid-template-columns: 12vi 30vi;
            fieldset {
                grid-template-columns: 1.5em 40vi;
                textarea {
                    grid-column: 1 / 2;
                    width: 35vi;
                }
            }
        }
    }
}